.background_container {
  width: 100%;
  height: auto;
}

.stage_selectors {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
  pointer-events: none;
}

.selector {
  pointer-events: initial;
  cursor: pointer;
  opacity: 0.3;
}

.selector:hover {
  opacity: 1;
}
