.background {
  height: 100vh;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.train,
.train_shadow {
  transform: translateX(100%);
}

.second_train,
.second_train_shadow {
  transform: translateX(-100%);
}

.flag_button {
  opacity: 0;
  cursor: pointer;
}

.arm {
  transform-origin: 0 70px;
  transform: rotateZ(-90deg);
  transform-box: fill-box;
}

.track {
  transform-origin: right;
  transform: rotateZ(-24deg);
  transform-box: fill-box;
}

.explosion {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.01);
  opacity: 0;
  pointer-events: none;
}

.newspaper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.01);
  opacity: 0;
  pointer-events: none;
}
